<launch>
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find rgbdslam)/launch/rviz_config.vcg" respawn="false" output="log" > </node>
  <node pkg="rgbdslam" type="rgbdslam" name="rgbdslam" cwd="node" required="false" output="log" > </node>
  <!--node pkg="rxtools" type="rxconsole" name="rxconsole" output="log" > </node-->
  <!--include file="$(find openni_camera)/launch/kinect_frames.launch"/-->
</launch>
